a.card-link {
  display: flex;
  text-decoration: none;
}
.project-card {
  max-width: 100%;
  min-width: 22-0px;
  min-height: 350px;
  border-radius: 0.25rem;
  margin: 1rem;
  user-select: none;
  position: relative;
  display: flex;
  flex-flow: column;
  // height: 400px;
  background-color: #2c3e50;
  transition: 0.5s;
  &:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 10px -10px rgba(127, 140, 141, 1);
  }
}
.card-content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  .thumbnail {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
    flex: 1 1 auto;
    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      box-shadow: 0 16px 24px 2px rgba(44, 62, 80, 0.24),
        0 6px 30px 5px rgba(44, 62, 80, 0.22),
        0 8px 10px -5px rgba(44, 62, 80, 0.4);
    }
  }
  .text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    border-top: 1px solid rgba(236, 240, 241, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    color: #ecf0f1;
    .description {
      color: rgba(236, 240, 241, 0.8);
      font-size: 0.875rem;
    }
  }
  .tags {
    display: flex;
    // justify-content: flex-end;
    width: 100%;
    padding-top: 0.5rem;
    flex-wrap: wrap;
    .tag {
      margin: 0.1rem 0.5rem;
      padding: 0.25rem 0.75rem;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 2rem;
    }
  }
}
.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.25rem;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(20px) brightness(0.75);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    will-change: transform;
  }
}
